body {
    padding: 0;
    margin: 0;
    background-color: #090928;
    font-family: 'Press Start 2P', cursive;
}

#app {
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 50px;
}

.game-title {
    color: white;
    padding-top: 40px;
    font-size: 400%;
    display: flex;
    justify-content: center;
}